a{
    color: orangered;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background: url("../medias/pics/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: #000000;
    padding: 20px;
    background-color: #f0d2d9;
    margin-bottom: 20px;
    font-size: 36px;
}
.info {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
ul {
    font-size: 20px;
    list-style-type: disc;
    text-align: left;
    padding-left: 40px;
    margin: 20px 0;
}
ul li {
    margin-bottom: 15px;
}
ul p {
    font-size: 16px;
    color: #777;
    margin-top: -10px;
    margin-bottom: 20px;
}
div img {
    width: 70%;
    margin: 20px 0;
}